<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width,initial-scale=1" />
     <!-- Bootstrap Core CSS -->
    <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{asset('css/2-col-portfolio.css')}}" rel="stylesheet">
  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
  <style>
  .container
  {
  display:flex;
  flex-wrap:wrap;
  margin-left:auto;
  margin-right:auto;
  }
  header,section,footer
  {
  	width: 100%;
  }
  section
  {
  	  display:flex;
      height: 100%;
  }
  header
  {
  	
  	background-color:beige;
  	border-bottom: 1px solid black;
  }
  .box
  {
  	width:150px;
  	border:1px solid black;
  	text-align: center;
  }

  .box img
  {
  	width: 100%;
  }

  section
  {
  	padding: 10px;
  }
  </style>
</head>
<body>
    <!-- Navigation -->
 {{ render(controller(
        'FreeDesignBundle:Default:topMenu'
    )) }}
    
        <div class="container">



    <!-- Page Content -->


            {% block body %}
            {% endblock %}
               <!-- /.row -->

     
   <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Templates4web {{ "now"|date("Y") }}</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{asset('js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{asset('js/bootstrap.min.js')}}"></script>

</body>

</html>
</div>
</body>
</html>